@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
html{
    scroll-behavior:smooth;
}
body{
    margin:0px;
    padding: 0px;
    font-family: open sans;
    
    
    
    
}
*,::after,::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;

}
a{
    text-decoration: none;
}
.containar{
    width: 100%;
    padding:0px 15px;
    margin: 0px auto;
    
}  
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.col{
    padding: 0px 15px;
}
/*logo color*/
.color1{
    color:#39c9da;
}
.tcolor{
    color:#504f50;
}
.tdcolor{
    color:#a8a8a8;
}
.tdcolorr{
    color:#504f50;
}
.t-uppercass{
    text-transform: uppercase;
}
.t-center{
    text-align: center;
}
.bg-color{
    color:#39c9da;

}
.pad{padding: 65px 0px;

}
/*button*/
.button1{
    background-color: #39c9da;
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}
.button2{
    background:transparent;
    width: 170px;
    height: 50px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border-radius: 5px;
    

}
.button3{
    background-color: #4b4a4b;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 3px;
    color:white;
    margin-top: 30px;

}
/*header start*/
header{
    background-image: url(image/Ui\ Brush.jpg);
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.col ul li{
    list-style: none;
   

}
.menu{
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
.col ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-wrap: wrap;
}
.dot{
    color: white;
}
ul a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
.bannar-text{
    color:white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% );
    
}
.bannar-text h1{
    font-size: 30px;
}
/*header end*/
/*about text start*/
.hed{
    text-align: center;

}
.hed h2{
    font-size: 20px;
    line-height: 45px;
}
.pp{
    font-size: 14px;
    line-height: 20px;
}
/*about text end*/
/*about image*/
.abtimage{
    position:block;
    max-width: 100%;
    width: 100%;
    margin-top: 60px;
}
.col-6{
    flex-basis: 50%;
}
.abttext{
    position: relative;
    font-size: 14px;
    padding-bottom: 20px;

}
.abtext{
    padding-left: 50px;
}
.abttext::after{
    content:"" ;
    position: absolute;
    background-color:#39c9da; 
    width: 100px;
    height: 2px;
    left: 0;
    bottom: 0;

}
.about{
    margin-bottom: 40px;
}

/*about  end*/
/*portfolio start*/


.portfolio{
    background-color: #f4f4f4;
}
.ptext{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.port-item{
    background-color: #fff;
}
.pimage{
    position: relative;
}
.pimage img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}
.over{
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.port-item:hover .over{
    height: 100%;
    transition: .7s;
    
}
.port-item:hover .button2{
    visibility: visible;
    transition: .3s;
}
.port{
    justify-content: space-around;
}
.col-4{
    margin-bottom: 40px;
}
.ptext h4{
    font-size: 14px;
} 
/*portfolio end*/
/*service start*/

.service{
    background-color: #fafafa;
}
.main{
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
    

}
.col2{
    width: 280px;
    background-color: white;
    border:1px solid #e2e2e2;
    padding: 25px 20px 20px 20px;
    
}
.col2:hover{
    width: 280px;
    background-color: #39c9da;
    transition: .5s;
    border:1px solid #e2e2e2;
    padding: 25px 20px 20px 20px;
    color: white;
    
}

.serimage{
    
    text-align: center;
}
.serimage span i{
    
    font-size: 35px;
    padding-bottom: 20px;
    color: #39c9da;
    
}

.serline{
    position: relative;

}
.serline::after{
    content: "";
    width: 78px;
    height: 1px;
    background-color: #c2c2c2;
    position: absolute;
    bottom: 0;
    right:35%;
   

}
.stext h2{
    font-size: 20px;
    padding-bottom: 15px;


}
.sp{
    padding-top: 30px;
}
/*service hover*/
.col2:hover i{
    color: white
}
.col2:hover h2 {
    color: white
}
.col2:hover p{
    color: white
}
.col2 :hover .serline::after{
    background-color: #5c5959;
}
.col2:hover .button3{
    color:black;
    background-color: white;
}


/*service end*/
/*contact us start*/
.conh3{
    border-bottom: 2px solid #39c9da;
    padding-bottom: 20px;
    width: 130px;
}
.conp{
   
    padding: 20px 0px;

}
.address{
    padding: 30px 0px 140px 0px;
}
.cnd{
    width: 49%;
}

/*form*/
.form-main{
    justify-content: space-between;
   
}
.form{
    width: 50%;
    position: relative;
    
    
}
.name{
    height: 45px;
    width: 46%;
    margin-right: 30px;
}
.bor-c{
    border:1px solid #e6e6e6;
}
.email{
    height: 45px;
    width: 48%;
}
.margi{ margin-bottom: 30px;}

.sub{
    width: 100%;
    height: 45px;
   

}
.mess{
    width: 100%;
    height: 150px;
}
::placeholder{
    color:#c9c9c9;
}
.last-bot{
    position: absolute;
    right: 15px;
    
}
/*form end*/
/*contact us end*/
/*footer start*/
.footer {
    background-color: #39c9da;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:white;
}

/*footer end*/